.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    width: 100%;
    height: 100px;
    color: azure;
    background-color: rgb(65, 32, 92);
};

